<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115897137069-4csdpde3bfa8g6g3arcjn59boqngau2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115897137069-4csdpde3bfa8g6g3arcjn59boqngau2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsBinBMBi0VIl-H4hj2BNLgonB1JVK18</string>
	<key>GCM_SENDER_ID</key>
	<string>115897137069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reese.FBChatAppPrac</string>
	<key>PROJECT_ID</key>
	<string>fb-chatapp-prac</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-chatapp-prac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115897137069:ios:9610c0cf185373f6965324</string>
</dict>
</plist>